{% extends  "__layout.twig" %}

{% block content %}
{% import "macros.html" as macros %}
<h1>{{title}}</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    {{ macros.btn( "Картинка" , '/'~ page ~'/image', false, 'nav-link active') }}
    </li>
  <li class="nav-item ">
    {{ macros.btn( "Описание" , '/'~ page ~'/info', false, 'nav-link active') }}
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    
{% block objectContent %}
Выберите блок с информацией
{% endblock %}
</li>
</ul>
{% endblock %}

