{% macro btn(textB, url, bool, typeB, type) %} 
    
    {% if bool == true %}
          <a  href="{{url}}" class="btn btn-primary" >{{textB}}</a>  
    {% endif %}
    {% if bool == false %}
           <a href= "{{url}}" class="{{typeB}} {% if type == 'text' %} active {% endif %}">{{textB}}</a> 
    {% endif %}
   
   <!-- <a href="{{ url }}" 

    class="btn {{ bool ? mes  : 'btn-link' }} {% if mes is not empty %} btn-{{mes}} {% else %} btn-primary {% endif %}">
        {{ text }}
    </a>-->


{% endmacro %}
