{% extends "__layout.twig" %}

{% block content %}
<ul class="list-group"></ul>
{% for item in menu %}
    <li class="list-group-item">
            {% include('menu.html') %}
    </li>
{% endfor %}
</ul>
{% endblock %}