{% import "macros.html" as macros %}

<div class="card border-primary mb-3 h-100 mt-2">
  <div class="position-absolute" style="right: 4px; top: 4px;">
    <form action="/object/{{object.id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger">
        <i class="fas fa-times"></i>
      </button>
    </form>
  </div>
  <div class="position-absolute" style="left: 4px; top: 4px;">
    <a class="btn btn-primary" href="/object/{{object.id}}/edit">
      <i class="far fa-file-alt"></i>
    </a>
  </div>
  <div class="card-body row mx-auto p-1" style="overflow:hidden;">
    <a class="ripple" href="/object/{{object.id}}"><img src="{{ object.image }}"
        class=" p-1 img-thumbnail rounded" /></a>
    <div class="row mx-auto m-1">{{ macros.btn(object.title, "/object/"~ object.id ~"" , true)}}
      <div class="col-auto my-2 mx-auto">{{ macros.btn('Картинка', "/object/"~ object.id ~"?view=image", false,
        "btn-link")
        }}</div>
      <div class="col-auto my-2 mx-auto">{{ macros.btn('Описание', "/object/"~ object.id ~"?view=info", false,
        "btn-link")
        }}</div>
    </div>
  </div>
</div>