{% macro btn(text, url, bool, mes) %}

    <a href="{{ url }}" 
    class="btn {{ bool ? mes  : 'btn-link' }} {% if mes is not empty %} btn-{{mes}} {% else %} btn-primary {% endif %}">
        {{ text }}
    </a>
    
{% endmacro %}